.ChildComment p {
    display: inline;
}

.ChildComment {
    min-height: 40px;
    border-top: 1px solid #f0eeee;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 14px;
}

.ChildComment a.action-button { 
    width: 20px;
    display: inline-block;
    height: 20px;
    text-align: center;
    background: #c7c7c7;
    /* align-items: center; */
    border-radius: 5px;
    padding-top: 2px;
    margin-left: 10px;
}

.ChildComment a.action-button svg { 
    font-size: 15px;
    color: #424242;
    margin-top: -7px;
}
