.ReplyCreate {
    border-top: 1px solid #dfd9d9;
    font-size: 13px;
    color: rgb(74, 74, 221);
    cursor: pointer;
    margin-left: 30px;
}

.ReplyCreate p {
    margin-top: 5px !important;
}

.form_reply {
    min-width: 50% !important;
    margin-left: 0;
    width: auto;
}

.form_reply .post_reply {
    padding: 5px;
    border: none;
    background-color: #ede9e9;
    border-radius: 2px;
    width: 100%;
    min-width: 400px;
}

.form_reply .post_reply:focus {
    outline: none;
}

input[type=submit] {
    background-color: #5d6061;
    border: none;
    color: white;
    padding: 4px 13px;
    text-decoration: none;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #919191;
    transition: 0.3s;
}
